# Auth DB
AUTH_DB=auth_db
AUTH_DB_USER=auth
AUTH_DB_PASSWORD=authpass
AUTH_DB_URL=postgres://auth:authpass@auth-db:5432/auth_db

# PG Admin
PG_MAIL=admin@admin.com
PG_PASSWORD=admin

# Auth Service
AUTH_SERVICE_PORT=4000
FRONTEND_URL=http://localhost

DISCORD_CLIENT_ID=1423223963986956339
DISCORD_CLIENT_SECRET=NzF8gui3tG9I0DVZOwItkjA-4xEVtvmR
DISCORD_REDIRECT_URI=http://auth.localhost/api/auth/discord/callback
DISCORD_AUTH_URL=https://discord.com/api/oauth2/authorize
DISCORD_TOKEN_URL=https://discord.com/api/oauth2/token

# Redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

TOKEN_ENCRYPTION_KEY=bdd14aafa07e3cb9da41bbaa1fdc0b98129abb7a916d4e8e6a78690669bbf4e8

# Frontend 
AUTH_SERVICE_URL=https://auth-service:4000