# Auth DB
AUTH_DB_PORT=5432
AUTH_DB=auth_db
AUTH_DB_USER=auth
AUTH_DB_PASSWORD=authpass
AUTH_DB_URL=postgres://auth:authpass@auth-db:5432/auth_db

# Auth Service
AUTH_SERVICE_PORT=4000
TOKEN_ENCRYPTION_KEY=

# Discord App
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost/auth/discord/callback
DISCORD_AUTH_URL=https://discord.com/api/oauth2/authorize
DISCORD_TOKEN_URL=https://discord.com/api/oauth2/token

# PG Admin
PGADMIN_PORT=8080
PG_MAIL=admin@admin.com
PG_PASSWORD=admin

# Frontend
FRONTEND_URL=http://localhost:5173

# Redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

# Redis Insight
REDISINSIGHT_PORT=

# Deployment Environment
APP_ENV=development