localhost {
    # Backend API: strip /api prefix before sending to auth-service
    handle_path /auth/* {
        reverse_proxy auth-service:4000
    }

    # Commissions service
    handle_path /commissions/* {
        reverse_proxy commissions-service:5000
    }


    # PGAdmin: preserve /pgadmin prefix
    handle /pgadmin/* {
        reverse_proxy pgadmin:80
    }

    # RedisInsight: preserve /redisinsight prefix
    handle /redisinsight/* {
        reverse_proxy redisinsight:5540
    }

    # Frontend (catch-all)
    handle /* {
        reverse_proxy frontend:5173
    }
}
