localhost {
	reverse_proxy frontend:3000
}

auth.localhost {
	reverse_proxy auth-service:4000
}

redisinsight.localhost {
	reverse_proxy redisinsight:5540
}

pgadmin.localhost {
	reverse_proxy pgadmin:80
}
