# Auth DB
AUTH_DB_PORT=5432
AUTH_DB=auth_db
AUTH_DB_USER=admin
AUTH_DB_PASSWORD=password
AUTH_DB_URL=postgres://auth:authpass@auth-db:5432/auth_db

# PG Admin
PGADMIN_PORT=8080
PG_MAIL=admin@admin.com
PG_PASSWORD=admin

# Auth Service
AUTH_SERVICE_PORT=4000

# Frontend
FRONTEND_URL=http://localhost:5173

# Discord App
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost/api/auth/discord/callback
DISCORD_AUTH_URL=https://discord.com/api/oauth2/authorize
DISCORD_TOKEN_URL=https://discord.com/api/oauth2/token

# Redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

# Redis Insight
REDISINSIGHT_PORT=5540

TOKEN_ENCRYPTION_KEY=